<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password | Secure Cloud Storage</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>Reset Password</h1>

    <form method="POST">

        <label>Email Address</label>

        <input
            type="email"
            name="email"
            placeholder="Enter your registered email"
            required>

        <label>New Password</label>

        <input
            type="password"
            name="password"
            placeholder="Enter new password"
            required>

        <button type="submit">
            Reset Password
        </button>

    </form>

    <br>

    <div style="text-align:center;">

        <a href="/login"
           style="color:#64ffda;text-decoration:none;">
            Back to Login
        </a>

    </div>

</div>

</body>
</html>