<!DOCTYPE html>
<html>
<head>
    <title>Secure Cloud Storage</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="navbar">

    <div class="logo">
        SecureCloud
    </div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>

</nav>

<section class="hero">

    <h1>
        Secure Cloud File Storage
    </h1>

    <p>
        Protect your files with secure authentication,
        password encryption, session management, and
        cloud-based file storage. Upload and manage
        your documents safely through a modern
        cloud security platform.
    </p>

    <a href="/register" class="btn">
        Get Started
    </a>

</section>

</body>
</html>