<!DOCTYPE html>
<html>
<head>
    <title>Secure Cloud Storage</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="navbar">

    <div class="logo">
        🔒 Secure Cloud Storage
    </div>

    <div class="nav-links">
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>

</nav>

<section class="hero">

    <h1>
        Secure Cloud File Storage
    </h1>

    <p>
        Protect your files using encryption,
        security monitoring and intrusion detection.
        Store data securely in the cloud with
        enterprise-grade protection.
    </p>

    <a href="/register" class="btn">
        Get Started
    </a>

</section>

</body>
</html>