<!DOCTYPE html>
<html>
<head>
    <title>Login | Secure Cloud Storage</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>Login</h1>

    <form method="POST">

        <label>Email Address</label>

        <input
            type="email"
            name="email"
            placeholder="Enter your email"
            required>

        <label>Password</label>

        <input
            type="password"
            name="password"
            placeholder="Enter your password"
            required>

        <button type="submit">
            Login
        </button>

    </form>

    <br>

    <div style="text-align:center;">

        Don't have an account?

        <a href="/register"
           style="color:#64ffda;text-decoration:none;">
            Register
        </a>

    </div>

</div>

</body>
</html>